[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/johanneskastl.add_zypper_repository"]
	path = ansible/roles/johanneskastl.add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
[submodule "ansible/roles/johanneskastl.create_a_vimrc"]
	path = ansible/roles/johanneskastl.create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
[submodule "ansible/roles/johanneskastl.install_one_or_more_packages"]
	path = ansible/roles/johanneskastl.install_one_or_more_packages
	url = https://github.com/johanneskastl/ansible-role-install_one_or_more_packages.git
