[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/johanneskastl.add_zypper_repository"]
	path = ansible/roles/johanneskastl.add_zypper_repository
	url = https://github.com/johanneskastl/ansible-role-add_zypper_repository.git
